---
---

// variables
//
:root {
  --standard_font_family: "Open Sans", sans-serif;
  --content_font_family: "Open Sans", sans-serif;
  --mono_font_family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

  --homepage-toppane-bg: #fcfeeb;
  --homepage-bottompane-bg: #4e6f21;
  --homepage-subtitle-color: #e6ebbc;
  --homepage-button-bg: #f2f3d1;
  --homepage-button-bg-hover: #fff9e1;
  --homepage-button-bg-press: #f5e39e;
  --homepage-button-color: #2c2a23;
}


html, body {
  font-family: var(--standard_font_family);
  height: 100%;
}

// about page
//
body.about {
  background: var(--homepage-toppane-bg);
  overflow-y: scroll;
  > div {
    padding: 1em;
    width: 55em;
    max-width: 100%;
    margin: 0 auto;
    .logo {
      display: block;
      text-align: center;
      padding: 3em 0 2em;
      img {
        max-width: 95%;
        height: 10em;
      }
    }
    li + li {
      margin-top: .7em;
    }
    hr {
      width: 50%;
      margin: 2em auto;
      border-color: #86c03b;
    }
    .buttons {
      margin: -1em 0 2em;
      text-align: center;
      + .buttons {
        margin-top: -2em;
      }
      .button {
        display: inline-block;
        font-size: 1.2em;
        padding: .6em .8em;
        border-radius: .6em;
        color: var(--homepage-button-color);
        font-weight: 600;
        text-decoration: none;
        transition: background 0.1s cubic-bezier(0.65, 0, 0.35, 1);
        + .button {
          margin-left: .8em;
        }
      }
    }
  }
}

// homepage
//
body.homepage {
  display: flex;
  flex-direction: column;
  > .spacer {
    flex: 1 1 auto;
    height: 100%;
    &:first-child {
      background: var(--homepage-toppane-bg);
    }
    &:last-child {
      background: var(--homepage-bottompane-bg);
    }
  }
  > .logo {
    background: var(--homepage-toppane-bg);
    text-align: center;
    padding-bottom: 1.7em;
    img {
      max-width: 95%;
      margin: 0 auto;
      height: 10em;
    }
  }
  > .content {
    background: var(--homepage-bottompane-bg);
    text-align: center;
    .subtitle {
      margin-top: .7em;
      font-size: 2em;
      color: var(--homepage-subtitle-color);
    }
    .buttons {
      margin-top: 2.4em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .button {
      display: inline-block;
      font-size: 1.4em;
      padding: .6em .8em;
      border-radius: .6em;
      background: var(--homepage-button-bg);
      color: var(--homepage-button-color);
      font-weight: 600;
      text-decoration: none;
      transition: background 0.1s cubic-bezier(0.65, 0, 0.35, 1);
      + .button {
        margin-top: .8em;
      }
      &:hover {
        background: var(--homepage-button-bg-hover);
      }
      &:active {
        background: var(--homepage-button-bg-press);
      }
    }
  }
}
